@mixin section() {
  border-radius: 7px;
  background: white;
}

.certificate__section {
  @include section();
}
.certificate__container {
  .hot-exams__container {
    padding: 16px 28px 64px;
  }
  .promote-exams {
    @include section();
    padding: 16px;
  }
  .rating-grid {
    border-right: 2px solid #e7eaec;
  }
}