.color- {
  &primary {
    color: $primary;
  }
  &secondary {
    color: $secondary;
  }
  &gray-50 {
    color: $gray-50;
  }
  &gray-100 {
    color: $gray-100;
  }
  &gray-200 {
    color: $gray-200;
  }
  &gray-300 {
    color: $gray-300;
  }
  &gray-400 {
    color: $gray-400;
  }
}

.bg-{
  &primary {
    background-color: $primary;
  }
  &secondary {
    background-color: $secondary;
  }
}