.home__container {
  .best-seller__container {
    .best-seller-cer {
      img {
        display: inline-block;
      }
    }
  }
  .features {
    background: #f9f2ec;
  }
  .review {
    background: white;
    .reviewer {
      img {
        display: inline-block;
      }
      .break {
        width: 69px;
        height: 2px;
        background: $primary;
        border-radius: 5px;
      }
    }
  }
}