.menu-top__container {
  background: white;
  transition: all .3s ease;
  box-shadow: 0 0 15px #d1d1d1;
  .list-menu {
    a {
      display: inline-block;
      padding: 12px 0;
      position: relative;
      overflow: hidden;
      transition: all .3s ease;
      &:hover {
        color: $primary;
      }
      &::before {
        content: '';
        position: absolute;
        background: $primary;
        top: 0;
        left: 0;
        width: 100%;
        height: 4px;
        transform: translate(0, -100%);
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        transition: all .3s ease;
      }
      &.active {
        font-weight: 700;
        &::before {
          transform: translate(0, 0);
        }
      }
    }
  }
}