@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "variables";
@import "common";
@import "./conponents/components";
@import "top-menu";
@import "home";
@import "certificate";

* {
  font-family: 'Nunito', sans-serif;
}

body {
  background: #f6f5fa;
}

:root {
  font-size: 14px;
}

.slick-slider {
  .slick-arrow {
    &::before {
      color: $primary;
    }
  }
}

.slick-dots {
  bottom: -50px;
  li {
    &.slick-active {
      button::before {
        color: $primary;
      }
    }
    button {
      &:hover {
        &::before {
          color: $primary;
        }
      }
      &::before {
        font-size: 10px;
      }
    }
  }
}