.group-cer__container {
  .certificate__container {
    .banner {
      position: relative;
      overflow: hidden;
      .bg-hover {
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease;
        background: rgba(0,0,0, .6);
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        border-radius: inherit;
      }
      img {
        transition: all .3s ease;
        transform: scale(1);
      }
      &:hover {
        .bg-hover {
          opacity: 1;
          visibility: visible;
          z-index: 1;
        }
        img {
          transform: scale(1.2);
        }
      }
    }
  }
}